@charset "utf-8";
/* login */
.login-main {
	position: absolute;
	top: 50%;
	left: 88%;
	margin-top: -260px;
	margin-left: -300px;
	padding: 30px;
	width: 290px;
	height: 380px;
	background: url(../image/1.png);
	border-radius: 10px;
}

.login-main header {
	margin-top: 5px;
	font-size: 32px;
	text-align: center;
	font-family: KaiTi;
	font-style: oblique;
}

.login-main header, .login-main form, .login-main form .layui-input-inline
	{
	margin-bottom: 22px;
}

.login-main form .layui-input-inline, .login-main form .layui-input-inline input,
	.login-main form .layui-input-inline button {
	width: 100%;
}

#canvas {
	float: right;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 5px;
}

.login-main form .login-btn {
	margin-bottom: 5px;
}
/* main */
h1 {
	margin-top: 100px;
	text-align : center;
	letter-spacing: 10px;
	font-size: 55px;
}
.b {
	position:absolute; right: 20px; top: 20px;
	font-size: 28px;
}
.c h2{
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	font-weight:400;
}
h2 {
	text-align: center;
	margin-top: 100px;
	font-size: 30px;
	font-weight:400;
	letter-spacing: 6px;
}

.wrap {
	height: 130px;
	text-align: center;
}

.wrap span {
	
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 8px;
	font-size: 55px;
}

.wrap img {
	width: 7%;
	height: auto;
	margin-right: 30px;
	vertical-align: middle;
}